#ytnavigation{max-width:600px;}
#ytnavigation ul{list-style:none none;margin:0 0 1em 0;padding:0;}
#ytnavigation li{margin:0;padding:0;}
#ytnavigation a{display:block;line-height:1;margin:0;padding:.6rem .5rem .5rem .5rem;}
#ytnavigation a.current{background-color:#588303;color:#fff;}
@media only screen and (min-device-width: 40em) and (min-width: 40em),
only screen and (min-device-width: 40em) and (min-width: 40em) and (min-aspect-ratio: 1 / 1) {
    #ytnavigation li{display:inline-block;}
}